<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>FlashTutorial</title>
    <style>
        a {
            display: block;
        }
    </style>
</head>
<body>
    <h2>Flash教程</h2>
    <a href="https://www.bilibili.com/video/BV1TR4y1s7HE?t=1974.9">如何制作火焰与爆炸的效果</a>
    <a href="https://www.bilibili.com/video/BV1XP4y1J75g?t=920.6">如何制作发送短信的简笔画动画</a>
    <a href="https://www.bilibili.com/video/BV1fU4y1s7mq?t=1.3">一个插件帮你建立复杂世界</a>
    <a href="https://www.bilibili.com/video/BV1z54y1W75u?t=788.3">制作文字和动画渐变</a>
    <a href="https://www.bilibili.com/video/BV1DK4y1D7C1?t=6.8">微信截图也能做动画大片</a>
    <a href="https://www.bilibili.com/video/BV1Zr4y1K7cf?t=12.3">如何让画面充满移动感</a>
    <a href="https://www.bilibili.com/video/BV1Eh411C7yN?t=3.3">全面了解最强功能:符号</a>
    <a href="https://www.bilibili.com/video/BV1JK4y1n7LV?t=1.7">最全的补间功能讲解</a>
    <a href="https://www.bilibili.com/video/BV1Jh411C72a?t=11.2">Flash基础操作介绍</a>
    <a href="https://www.bilibili.com/video/BV1HA411g7WZ?t=4.2">10分钟搞定声音特效</a>
    <a href="https://www.bilibili.com/video/BV1GN411R7wU?t=5.1">3分钟学会补间动画</a>
    <a href="https://www.bilibili.com/video/BV1wv4y1Z7zc?t=239.0">3分钟教你做一个会动的火柴人</a>
    <a href="https://www.bilibili.com/video/BV1gv4y1Z7Mt?t=4.6">3分钟GET最快视频导出方法</a>
    <a href="https://www.bilibili.com/video/BV1Lo4y1d72w?t=6.4">7款代替Flash的免费软件</a>
    <a href="https://www.bilibili.com/video/BV11i4y1M7SJ?t=10.1">动画中的慢动作是如何完成的？（上）</a>
    <a href="https://www.bilibili.com/video/BV1ek4y127Hb?t=2.9">动画中的慢动作是如何完成的？（下）</a>
    <a href="https://www.bilibili.com/video/BV1K64y1B7WD?t=2.7">Flash基础知识</a>
    <a href="https://www.bilibili.com/video/BV1UX4y1c7NL?t=2.5">模拟正在画画和打字的动画效果</a>
    <a href="https://www.bilibili.com/video/BV1gh411W7QU?t=1180.8">如何创建补间动画</a>
    <a href="https://www.bilibili.com/video/BV1RQ4y1h77d?t=2.4">如何创建动画中的角色</a>
    <a href="https://www.bilibili.com/video/BV1gq4y1o718?t=1.7">如何创建简笔画动画</a>
    <a href="https://www.bilibili.com/video/BV1iQ4y1k7c7?t=1132.5">如何创建嵌套动画</a>
    <a href="https://www.bilibili.com/video/BV1Cf4y1E7d7?t=1.2">如何创建相机的运动</a>
    <a href="https://www.bilibili.com/video/BV1jM4y137kj?t=1.4">如何导出Flash动画</a>
    <a href="https://www.bilibili.com/video/BV1VM4y1374q?t=5.2">如何使用遮罩效果？</a>
    <a href="https://www.bilibili.com/video/BV1S44y1v7fb?t=8.6">如何在flash处理嵌入视视频？</a>
    <a href="https://www.bilibili.com/video/BV1eq4y1G7DC?t=3.5">如何在flash中使用屏幕截图？</a>
    <a href="https://www.bilibili.com/video/BV15b4y1B7DZ?t=2.9">如何制作爆炸后烧焦的痕迹</a>
</body>
</html>