<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>AVA第一季</title>
    <style>
        a {
            display: block;
        }
    </style>
</head>
<body>
    <h2>火柴人VS动画师(AVA)第一季</h2>
    <a href="https://www.bilibili.com/video/BV1Bp4y1q7xU?t=0.8">第一集</a>
    <a href="https://www.bilibili.com/video/BV1nk4y1m7uq?t=0.1">第二集</a>
    <a href="https://www.bilibili.com/video/BV1o54y1S7tY?t=0.1">第三集</a>
    <a href="https://www.bilibili.com/video/BV1if4y1X7iH?t=0.7">第四集</a>
</body>
</html>