<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>AVE</title>
    <style>
        a {
            display: block;
        }
    </style>
</head>
<body>
    <h2>火柴人VS教育(AVE)</h2>
    <a href="https://www.bilibili.com/video/BV11RXRYuEdL?t=4.2">火柴人VS编程</a>
    <a href="https://www.bilibili.com/video/BV1hs421T7g8?t=0.9">火柴人VS几何</a>
    <a href="https://www.bilibili.com/video/BV1cG411e75o?t=958.8">火柴人VS物理</a>
    <a href="https://www.bilibili.com/video/BV1ph4y1g75E?t=835.5">火柴人VS数学</a>
</body>
</html>