<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>AVM</title>
    <style>
        a {
            display: block;
        }
    </style>
</head>
<body>
    <h2>火柴人VS我的世界(AVM)</h2>
    <a href="/AnimationVersusMinecraft/season1">第一季</a>
    <a href="/AnimationVersusMinecraft/season2">第二季</a>
    <a href="/AnimationVersusMinecraft/season3">第三季</a>
    <a href="/AnimationVersusMinecraft/season4">第四季</a>
    <a href="/AnimationVersusMinecraft/season5">第五季(持续更新中)</a>
</body>
</html>