<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>AVM第四季</title>
    <style>
        a {
            display: block;
        }
    </style>
</head>
<body>
    <h2>火柴人VS我的世界(AVM)第四季</h2>
    <a href="https://www.bilibili.com/video/BV1Wh4y1s7Zd?t=359.2">第三十一集 终极矿车竞赛</a>
    <a href="https://www.bilibili.com/video/BV1Kp4y1P7sn?t=0.4">第三十二集 厨师</a>
    <a href="https://www.bilibili.com/video/BV1FQ4y1g7eL?t=0.8">第三十三集 幸运方块权杖</a>
    <a href="https://www.bilibili.com/video/BV1W1421D7cp?t=0.2">第三十四集 恶作剧</a>
    <a href="https://www.bilibili.com/video/BV1kD42137Qh?t=0.8">第三十五集 音符盒音乐会</a>
    <a href="https://www.bilibili.com/video/BV1vP5tzsEjx?t=0.7">第三十六集 起床战争</a>
</body>
</html>