<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>AVM第二季</title>
    <style>
        a {
            display: block;
        }
    </style>
</head>
<body>
    <h2>火柴人VS我的世界(AVM)第二季</h2>
    <a href="https://www.bilibili.com/video/BV1Sz4y1X7VY?t=1.1">第十五集 红石学院</a>
    <a href="https://www.bilibili.com/video/BV1Ai4y137Si?t=1.1">第十六集 音乐对决</a>
    <a href="https://www.bilibili.com/video/BV1hi4y1V7KQ?t=1.6">第十七集 建筑大赛</a>
    <a href="https://www.bilibili.com/video/BV1Ng4y1i71y?t=1.1">第十八集 材质包</a>
    <a href="https://www.bilibili.com/video/BV1gK4y1a7io?t=0.5">第十九集 幸运方块</a>
</body>
</html>