<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>AVM第三季</title>
    <style>
        a {
            display: block;
        }
    </style>
</head>
<body>
    <h2>火柴人VS我的世界(AVM)第三季</h2>
    <a href="https://www.bilibili.com/video/BV13y4y1i7XC?t=0.9">第二十集 猪灵之战</a>
    <a href="https://www.bilibili.com/video/BV1wK4y1Q7Ui?t=0.3">第二十一集 巫婆</a>
    <a href="https://www.bilibili.com/video/BV1tB4y1w7jz?t=1.0">第二十二集 跑酷</a>
    <a href="https://www.bilibili.com/video/BV1ef4y1Y7C3?t=1.9">第二十三集 泰坦劫掠兽</a>
    <a href="https://www.bilibili.com/video/BV1Y64y167Sa?t=0.6">第二十四集 郁葱洞穴</a>
    <a href="https://www.bilibili.com/video/BV1Z3411B7r3?t=0.6">第二十五集 终极武器</a>
    <a href="https://www.bilibili.com/video/BV1Y34y1o7QM?t=0.1">第二十六集 地下的守护者</a>
    <a href="https://www.bilibili.com/video/BV1WS4y1S7Qp?t=1.4">第二十七集 怪兽学院</a>
    <a href="https://www.bilibili.com/video/BV1XS4y1h7gi?t=0.4">第二十八集 突袭</a>
    <a href="https://www.bilibili.com/video/BV1sB4y1C72v?t=1.3">第二十九集 音符世界</a>
    <a href="https://www.bilibili.com/video/BV1Jv4y1o7fU?t=0.8">第三十集 国王</a>
</body>
</html>