<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>AVM第一季</title>
    <style>
        a {
            display: block;
        }
    </style>
</head>
<body>
    <h2>火柴人VS我的世界(AVM)第一季</h2>
    <a href="https://www.bilibili.com/video/BV1Da4y1h7tB?t=0.9">第一集 重新发现</a>
    <a href="https://www.bilibili.com/video/BV1PT4y1E7sE?t=4.4">第二集 建筑比赛</a>
    <a href="https://www.bilibili.com/video/BV1pK411H7jZ?t=0.8">第三集 过山车</a>
    <a href="https://www.bilibili.com/video/BV1ov411B7zm?t=0.9">第四集 药水</a>
    <a href="https://www.bilibili.com/video/BV1Gv411z7cT?t=0.8">第五集 音符盒</a>
    <a href="https://www.bilibili.com/video/BV18C4y1h7qk?t=0.7">第六集 命令方块</a>
    <a href="https://www.bilibili.com/video/BV1TC4y1h7Zq?t=6.6">第七集 玩家对战PVP</a>
    <a href="https://www.bilibili.com/video/BV1za4y1h7Bk?t=13.4">第八集 下界</a>
    <a href="https://www.bilibili.com/video/BV1UA411e79J?t=1.1">第九集 村民</a>
    <a href="https://www.bilibili.com/video/BV1Cv411i76a?t=21.8">第十集 末地</a>
    <a href="https://www.bilibili.com/video/BV1WA411e7uQ?t=0.8">第十一集 空岛</a>
    <a href="https://www.bilibili.com/video/BV1Ez4y1D7ES?t=1.4">第十二集 TNT大陆</a>
    <a href="https://www.bilibili.com/video/BV1o5411Y7an?t=1.4">第十三集 海豚王国</a>
    <a href="https://www.bilibili.com/video/BV1n5411e7ud?t=0.9">第十四集 洞穴蜘蛛与过山车</a>
</body>
</html>