<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>AVS</title>
    <style>
        a {
            display: block;
        }
    </style>
</head>
<body>
    <h2>火柴人VS系列(AVS)</h2>
    <a href="https://www.bilibili.com/video/BV1cCQmY6EJ7?t=0.7">火柴人VS成瘾</a>
    <a href="https://www.bilibili.com/video/BV1gcZMYtEdB?t=3.9">火柴人VS动画VERSUS-预告片</a>
    <a href="https://www.bilibili.com/video/BV1dU4y1T7B4?t=1.1">火柴人VS电子游戏(新题材)</a>
    <a href="https://www.bilibili.com/video/BV1pr4y1D7QX?t=1.2">火柴人VS海洋垃圾(公益动画)</a>
    <a href="https://www.bilibili.com/video/BV1Yf4y1R7jP?t=0.9">火柴人VS超级马里奥兄弟</a>
    <a href="https://www.bilibili.com/video/BV1T5411e76H?t=1.4">火柴人VS油管</a>
    <a href="https://www.bilibili.com/video/BV1ok4y1z7LB?t=1.1">火柴人VS英雄联盟</a>
</body>
</html>