<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>AlanBecker火柴人</title>
    <style>
        body {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <h1>AB柴</h1>
    <a href="/AnimationVersusMinecraft">火柴人VS我的世界</a>
    <a href="/AnimationVersusAnimator">火柴人VS动画师</a>
    <a href="/AnimationVersusEducation">火柴人VS教育</a>
    <a href="/AnimationVersusSeries">火柴人VS系列</a>
    <a href="/TheJourneyOfSpiritedAway">千与千寻之旅</a>
    <a href="/AnimationTutorialSeries">动画教程系列</a>
    <a href="/TheTwelvePrinciplesOfAnimation">动画十二原则</a>
    <a href="/OtherSeries">其他系列</a>
</body>
</html>